{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}
    <div>
        <form action="/add" method="post">
            <h2>{{ title }}</h2>
            <input class="hide-input" name="title" value="{{ title }}">
            <img src="{{ image }}" alt="{{ title }} poster" width="300" height="500">
            <input class="hide-input" name="image" value="{{ image }}">
            <p>{{ description }}</p>
            <input class="hide-input" name="description" value="{{ description }}">
            {% if user %}
                <button class="btn btn-success" name="imdbID" type="submit" value="{{ imdbID }}"><i class="bi bi-plus-lg"></i> Watchlist</button>
            {% else %}
                <p><a href="/login">Log in</a> or <a href="/register">register</a> to add to your watchlist</p>
            {% endif %}
        </form>
    </div>
{% endblock %}