{% extends "layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block main %}
    {% if watchlist %}
        <div>
            <h2>{{ username }}'s Watchlist:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Poster</th>
                        <th>Year</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in watchlist %}
                        <tr>
                            <form action="/watchlist-details" method="post">
                                <input class="hide-input" name="title" value="{{ item['title'] }}">
                                <input class="hide-input" name="image" value="{{ item['image_link'] }}">
                                <input class="hide-input" name="description" value="{{ item['description'] }}">
                                <td>{{ item["title"] }}</td>
                                <td>
                                    <img src="{{ item["image_link"] }}" alt="{{ item["title"] }} poster" width="65" height="100">
                                </td>
                                <td>{{ item["description"] }}</td>
                                <td>
                                    <button class="btn btn-primary list-btn" name="details" type="submit" value="{{ item['imdb_id'] }}">Details</button>
                                    <span class="action-space"></span>
                                    <button class="btn btn-danger list-btn" name="delete" type="submit" value="{{ item['imdb_id'] }}"><i class="bi bi-trash-fill"></i> Delete</button>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div>
            <h2>Hmm, no watchlist found 🤔</h2>
        </div>
    {% endif %}
{% endblock %}